[Desktop Entry]
# The name that will be displayed in the menu
Name=TicTacToe
# The command to run the game (matches the 'command' in your manifest)
Exec=game
# The name of the icon file (without the extension)
Icon=pt.ua.deti.iei.tictactoe
# Standard entry type
Type=Application
# Category for the application menu
Categories=Game;